<div *ngFor="let flight of flights">
    <h3>{{flight.flight}} <span *ngIf="flight.price"> - {{flight.price}}</span></h3>
    <div *ngFor="let wine of flight.wines">
        <p>
            <span *ngIf="wine.glass">
                {{ wine.glass }}
                <img src="./assets/glass.png" />
            </span><span *ngIf="wine.bottle">
                {{ wine.bottle }}
                <img src="./assets/bottle.png" />
            </span><span *ngIf="wine.togo">
                {{ wine.togo }}
                <img src="./assets/togo.png" />
            </span>
        </p>
        <h4>{{ wine.name }}</h4>
        <p>
            <span>{{ wine.grape }} </span>
            <span *ngIf="wine.region"> - {{ wine.region }}</span>
            <span *ngIf="wine.year"> - {{ wine.year }}</span>
        </p>
        <p>{{ wine.description }}</p>
    </div>
</div>