<div>
  <div *ngFor="let item of food" class="{{ (item.new_page && printing) ? 'new-page' : null}}">
    <!-- section title -->
    <h2 *ngIf="!item.name && !item.price && item.category">{{ item.category }}</h2>
    <p *ngIf="!item.name && !item.price && item.category" class="sub-title">{{ item.description }}</p>
    <!--  item -->
    <h4 *ngIf="item.name && item.price && item.category && item.description">{{ item.name }} {{ item.price }}</h4>
    <p *ngIf="item.name && item.price && item.category && item.description" class="description">{{ item.description }}</p>
    <!--  coffee -->
    <h4 *ngIf="item.name && item.price && item.category && !item.description" class="single-line">{{ item.name }} {{ item.price }}</h4>
    <!--  notes -->
    <p *ngIf="!item.name && !item.price && !item.category && item.description" class="description">{{ item.description }}</p>
  </div>
</div>